extends layout

block content

  h1 ITMD542 LAB2 
  h1 Contacts Application 
  
  p
    | This is a simple contact management application built with Node.js and Express.
    | You can use it to manage your contacts easily.
  p
    | To get started, click the link below to view your contacts:
  a(href='/contacts') View Contacts
